<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
    <script src="https://unpkg.com/vue-router@2.4.0/dist/vue-router.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css.map">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>SPA Blog Component</title>
  </head>
  <body>
    <div id="myapp">
      <section id="nav">
          <navigasi-awak @change-view="setCurrentView"></navigasi-awak>
      </section>

      <!-- <component :is="currentView"></component> -->
      <home v-if="currentView=='home'"></home>
      <post v-if="currentView=='post'" :postingan="posts"></post>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
          <content-awal :postinganawal="data1" ></content-awal>
        </div>
        <div class="col-md-2">
          <nav-kanan :postingan="posts" @ubah-nav="setData1"></nav-kanan>
        </div>

      </div>
    </div>

    <template id="left-content">
      <!-- <div class="row"> -->
        <div class="content">
          <div class="isi-content">
            <img :src="postinganawal.image" alt="">
          </div>
          <div class="image-content">
            <h2>{{ postinganawal.title}}</h2>
            <p>{{ postinganawal.content}}</p>
            <span>category : <a href="#">{{ postinganawal.category}}</a></span>
          </div>
       </div>
     </duv>
    <!-- </div> -->
    </template>

    <!-- parentnya nav kanan -->
    <template id="custom-nav">
      <div class="right-nav">
        <ul>
          <li v-for="post in postingan">
            <a @click="ubahNav(post)">{{ post.title }}</a>
          </li>
        </ul>
      </div>
    </template>

    <template id="home-template">
      <h1>Ini tadinya home</h1>
    </template>

    <template id="list-post">
      <div>
        <h1>Component Post</h1>
        <ul>
          <!-- {{ posts }} -->
          <li v-for="post in postingan">
            <div class="content col-md-8">
              <h4>{{ post.title }}</h4>
              <p>{{ post.content }}</p>
              <span>category : <a href="#">{{ post.category }}</a></span>
            </div>
            <div class="image col-md-4">
              <img :src="post.image" alt="">
            </div>
          </li>
        </ul>
      </div>
    </template>

  </body>
  <script type="text/javascript" src="js/script.js"></script>
</html>
